{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Califique su gusto</h4>

    <br/><span> En una escala del 1 al 5, donde <b>1</b> significa que "No me gusta nada" y <b>5</b> significa que "Me gusta muchisímo", por favor diganos que tanto le gustan las siguientes <b>áreas profesionales</b>: </span>
    <br/>
<table class="table">
   <tr>
     <td class="td_q">Administración, Contaduría Pública, Economía.</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career1" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career1" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career1" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career1" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career1" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
     <td class="td_q">Agronomía, Veterinaria, Zootecnia.</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career2" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career2" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career2" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career2" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career2" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
     <td class="td_q">Antropología, Psicología, Historia.</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career3" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career3" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career3" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career3" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="career3" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
    <td class="td_q">Artes Plásticas, Visuales y Artes Afines.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career4" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career4" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career4" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career4" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career4" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Biología, Física, Química.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career5" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career5" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career5" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career5" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career5" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Deportes, Educación Física, Recreación.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career6" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career6" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career6" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career6" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career6" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Derecho, Filosofía, Ciencia Política.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career7" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career7" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career7" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career7" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career7" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Diseño, Publicidad.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career8" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career8" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career8" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career8" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career8" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
   <td class="td_q">Educación.</td>
   <td class="d-flex">
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career9" id="op1" value="1"><br>
           <label class="form-check-label" for="op1">1</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career9" id="op2" value="2"><br>
           <label class="form-check-label" for="op2">2</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career9" id="op3" value="3"><br>
           <label class="form-check-label" for="op3">3</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career9" id="op4" value="4"><br>
           <label class="form-check-label" for="op4">4</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career9" id="op5" value="5"><br>
           <label class="form-check-label" for="op5">5</label>
       </div>
   </td>
 </tr>
 <tr>
   <td class="td_q">Estadística.</td>
   <td class="d-flex">
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career10" id="op1" value="1"><br>
           <label class="form-check-label" for="op1">1</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career10" id="op2" value="2"><br>
           <label class="form-check-label" for="op2">2</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career10" id="op3" value="3"><br>
           <label class="form-check-label" for="op3">3</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career10" id="op4" value="4"><br>
           <label class="form-check-label" for="op4">4</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career10" id="op5" value="5"><br>
           <label class="form-check-label" for="op5">5</label>
       </div>
   </td>
 </tr>
 <tr>
    <td class="td_q">Ingeniería de Sistemas, Telemática y Afines.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career11" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career11" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career11" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career11" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career11" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Ingeniería Electrónica, Telecomunicaciones y Afines.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career12" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career12" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career12" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career12" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career12" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Ingeniería Mecánica, Industrial, Civil.</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career13" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career13" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career13" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career13" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="career13" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
   <td class="td_q">Ingeniería Química, Metalúrgica, Petróleos.</td>
   <td class="d-flex">
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career14" id="op1" value="1"><br>
           <label class="form-check-label" for="op1">1</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career14" id="op2" value="2"><br>
           <label class="form-check-label" for="op2">2</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career14" id="op3" value="3"><br>
           <label class="form-check-label" for="op3">3</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career14" id="op4" value="4"><br>
           <label class="form-check-label" for="op4">4</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career14" id="op5" value="5"><br>
           <label class="form-check-label" for="op5">5</label>
       </div>
   </td>
 </tr>
 <tr>
   <td class="td_q">Lenguas Modernas.</td>
   <td class="d-flex">
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career15" id="op1" value="1"><br>
           <label class="form-check-label" for="op1">1</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career15" id="op2" value="2"><br>
           <label class="form-check-label" for="op2">2</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career15" id="op3" value="3"><br>
           <label class="form-check-label" for="op3">3</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career15" id="op4" value="4"><br>
           <label class="form-check-label" for="op4">4</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career15" id="op5" value="5"><br>
           <label class="form-check-label" for="op5">5</label>
       </div>
   </td>
 </tr>
 <tr>
   <td class="td_q">Licenciaturas.</td>
   <td class="d-flex">
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career16" id="op1" value="1"><br>
           <label class="form-check-label" for="op1">1</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career16" id="op2" value="2"><br>
           <label class="form-check-label" for="op2">2</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career16" id="op3" value="3"><br>
           <label class="form-check-label" for="op3">3</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career16" id="op4" value="4"><br>
           <label class="form-check-label" for="op4">4</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career16" id="op5" value="5"><br>
           <label class="form-check-label" for="op5">5</label>
       </div>
   </td>
 </tr>
 <tr>
   <td class="td_q">Literatura.</td>
   <td class="d-flex">
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career17" id="op1" value="1"><br>
           <label class="form-check-label" for="op1">1</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career17" id="op2" value="2"><br>
           <label class="form-check-label" for="op2">2</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career17" id="op3" value="3"><br>
           <label class="form-check-label" for="op3">3</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career17" id="op4" value="4"><br>
           <label class="form-check-label" for="op4">4</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career17" id="op5" value="5"><br>
           <label class="form-check-label" for="op5">5</label>
       </div>
   </td>
 </tr>
 <tr>
   <td class="td_q">Matemáticas.</td>
   <td class="d-flex">
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career18" id="op1" value="1"><br>
           <label class="form-check-label" for="op1">1</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career18" id="op2" value="2"><br>
           <label class="form-check-label" for="op2">2</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career18" id="op3" value="3"><br>
           <label class="form-check-label" for="op3">3</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career18" id="op4" value="4"><br>
           <label class="form-check-label" for="op4">4</label>
       </div>
       <div class="form-check">
           <input class="form-check-input" type="radio" name="career18" id="op5" value="5"><br>
           <label class="form-check-label" for="op5">5</label>
       </div>
   </td>
 </tr>
 <tr>
  <td class="td_q">Medicina, Enfermería, Bacteriología.</td>
  <td class="d-flex">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career19" id="op1" value="1"><br>
          <label class="form-check-label" for="op1">1</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career19" id="op2" value="2"><br>
          <label class="form-check-label" for="op2">2</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career19" id="op3" value="3"><br>
          <label class="form-check-label" for="op3">3</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career19" id="op4" value="4"><br>
          <label class="form-check-label" for="op4">4</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career19" id="op5" value="5"><br>
          <label class="form-check-label" for="op5">5</label>
      </div>
  </td>
</tr>
<tr>
  <td class="td_q">Odontología, Optometría, Instrumentación Quirúrgica.</td>
  <td class="d-flex">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career20" id="op1" value="1"><br>
          <label class="form-check-label" for="op1">1</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career20" id="op2" value="2"><br>
          <label class="form-check-label" for="op2">2</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career20" id="op3" value="3"><br>
          <label class="form-check-label" for="op3">3</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career20" id="op4" value="4"><br>
          <label class="form-check-label" for="op4">4</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="career20" id="op5" value="5"><br>
          <label class="form-check-label" for="op5">5</label>
      </div>
  </td>
</tr>
</table>
{% next_button %}

{% endblock %}