{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h4>Califique su gusto</h4>
<br/><span> En una escala del 1 al 5, donde <b>1</b> significa que "No me gusta nada" y <b>5</b> significa que "Me gusta muchisímo", por favor diganos que tanto le gustan las siguientes asignaturas: </span>
    <br/>
<table class="table">
   <tr>
     <td class="td_q">Matemáticas</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_mat" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_mat" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_mat" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_mat" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_mat" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
     <td class="td_q">Artística</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_art" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_art" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_art" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_art" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_art" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
     <td class="td_q">Sociales (Geografía, Historia y Democracia)</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_soc" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_soc" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_soc" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_soc" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="l_soc" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
    <td class="td_q">Español</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_spa" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_spa" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_spa" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_spa" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_spa" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Naturales (Biología, Física y Química)</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_sci" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_sci" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_sci" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_sci" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_sci" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
  <tr>
    <td class="td_q">Informática y Tecnología</td>
    <td class="d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_tec" id="op1" value="1"><br>
            <label class="form-check-label" for="op1">1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_tec" id="op2" value="2"><br>
            <label class="form-check-label" for="op2">2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_tec" id="op3" value="3"><br>
            <label class="form-check-label" for="op3">3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_tec" id="op4" value="4"><br>
            <label class="form-check-label" for="op4">4</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="l_tec" id="op5" value="5"><br>
            <label class="form-check-label" for="op5">5</label>
        </div>
    </td>
  </tr>
 </table>
 <h4>Califique su desempeño</h4>
 <br/><span> En una escala del 1 al 5, donde <b>1</b> significa que "Muy malo" y <b>5</b> significa que "Excelente", por favor diganos cómo es su desempeño las siguientes asignaturas: </span>
     <br/>
 <table class="table">
    <tr>
      <td class="td_q">Naturales (Biología, Física y Química)</td>
      <td class="d-flex">
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_sci" id="op1" value="1"><br>
              <label class="form-check-label" for="op1">1</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_sci" id="op2" value="2"><br>
              <label class="form-check-label" for="op2">2</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_sci" id="op3" value="3"><br>
              <label class="form-check-label" for="op3">3</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_sci" id="op4" value="4"><br>
              <label class="form-check-label" for="op4">4</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_sci" id="op5" value="5"><br>
              <label class="form-check-label" for="op5">5</label>
          </div>
      </td>
    </tr>
    <tr>
      <td class="td_q">Informática y Tecnología</td>
      <td class="d-flex">
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_tec" id="op1" value="1"><br>
              <label class="form-check-label" for="op1">1</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_tec" id="op2" value="2"><br>
              <label class="form-check-label" for="op2">2</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_tec" id="op3" value="3"><br>
              <label class="form-check-label" for="op3">3</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_tec" id="op4" value="4"><br>
              <label class="form-check-label" for="op4">4</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_tec" id="op5" value="5"><br>
              <label class="form-check-label" for="op5">5</label>
          </div>
      </td>
    </tr>
    <tr>
      <td class="td_q">Español</td>
      <td class="d-flex">
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_spa" id="op1" value="1"><br>
              <label class="form-check-label" for="op1">1</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_spa" id="op2" value="2"><br>
              <label class="form-check-label" for="op2">2</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_spa" id="op3" value="3"><br>
              <label class="form-check-label" for="op3">3</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_spa" id="op4" value="4"><br>
              <label class="form-check-label" for="op4">4</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="p_spa" id="op5" value="5"><br>
              <label class="form-check-label" for="op5">5</label>
          </div>
      </td>
    </tr>
    <tr>
     <td class="td_q">Sociales (Geografía, Historia y Democracia)  </td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_soc" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_soc" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_soc" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_soc" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_soc" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
     <td class="td_q">Artística</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_art" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_art" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_art" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_art" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_art" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
   <tr>
     <td class="td_q">Matemáticas</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_mat" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_mat" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_mat" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_mat" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p_mat" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
  </table>

{% next_button %}

{% endblock %}