{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Muchas gracias por participar.
{% endblock %}

{% block content %}

<p>Agradecemos el tiempo que destinó para contestar la totalidad de la encuesta. Por favor dejar algún comentario o sugerencia en este espacio.</p>
<textarea name="comments" id="comments" class="form-control text_input" placeholder="Coloque su comentario aquí por favor" required style="margin-bottom: 10px;"></textarea>

<p>Gracias</p>


{% endblock %}
