

.otree-btn-next {
    display: none;
}

#progress_container {
    width: 100%;
    height: 20px;
    margin-bottom: 2em;
}

#progress_bar_container {
    width: 80%;
    height: 20px;
    border: 1px solid black;
    float: right;
}

#progress_bar {
    width: 0;
    height: 18px;
    background: darkgray;
}


#key_instructions {
    width: 100%;
}

#key_instructions .left {
    width: 33%;
    vertical-align: middle;
    border-right: solid 2px #C8C8C8;
    padding: 10px;
}

#key_instructions .left {
    text-align: center;
    padding: 10px;
}

#key_instructions .right {
    width: 33%;
    vertical-align: middle;
    border-left: solid 2px #C8C8C8;
    padding: 10px;
}

#key_instructions .press_key {
    color: gray;
    margin: 0;
}

#key_instructions .class,
#key_instructions .conj {
    font-size: 1.7em;
    margin: 0;
}

#key_instructions .class {
    font-weight: bold;
}

#start_instructions {
    margin-top: 3em;
}

#start_instructions h3 {
    text-align: center;
    font-size: 1em;
    text-decoration: underline;
    font-weight: normal;
}

#stimulus, #feedback, #submit_data_notice {
    display: none;
    margin: auto;
    width: 50%;
    text-align: center;
}

#stimulus {
    font-weight: bold;
    font-size: 3em;
    margin-top: 1.5em;
    width: 100% !important;
}

#feedback .red_x {
    font-size: 6em;
    margin-top: -0.2rem !important;
    margin-bottom: -0.3rem !important;
}

.class.attributes {
    color: darkblue;
}

.class.concepts {
    color: darkgreen;
}

.red_x {
    font-weight: bold;
    color: red;
}

.table_decision {
    width: 100%;
    text-align: center;
}

.class_image {
    width: 35%;
    margin: 15px;
}

.page-header {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}