{% extends "iat/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/iat.css' %}" rel="stylesheet">
    <!-- functions and more javascript -->
    <script src="{% static 'js/iat.js' %}"></script>
    <script>
var KEYCODES_SIDES = {{ keycodes_sides|json }};
var SIDES_KEYCODES = {{ sides_keycodes|json }};
var STIMULUS_LEVEL_SIDES = {{ stimulus_level_sides|json }};

var phase = 0;    // can be: 0 = start, 1 = trials, 2 = end
var expect_keycode = null;

// create array of trial data: each row contains trial ID, trial stimulus, stimulus class (words/names), stimulus
// level (e.g woman/man or tr/dt)
var trials = [
    {% for t in trials %}
        [{{ t.pk }}, '{{ t.stimulus }}', '{{ t.stimulus_class }}', '{{ t.stimulus_level }}'],
    {% endfor %}
];

var n_trials = trials.length;
var cur_trial_idx = 0;    // state variable: current index into `trials`
var input_start_time = 0;

// collected data for each trial:
var trial_ids = [];
var response_keys = [];
var response_times = [];
var response_correct = [];

$(function () {
    document.onkeydown = function (event) {
        event.preventDefault();
    };

    document.onkeyup = function (event) {
        event.preventDefault();

        if (phase === 0) { // start
            if (event.keyCode === 32) {
                $('#start_instructions').hide();
                advanceProgressBar();
                nextTrial();
                phase++;
            }
        } else if (phase === 1) {  // trials
            if (input_start_time === 0 && expect_keycode !== null && event.code === expect_keycode) {
                expect_keycode = null;   // reset
                prepareNextTrial();
            } else if (input_start_time !== 0 && expect_keycode === null) {
                if (event.code in KEYCODES_SIDES) {  // only do something if they key should be recorded
                    // calculate response time
                    var reaction_ms = new Date().getTime() - input_start_time;
                    input_start_time = 0;   // reset

                    var trial = trials[cur_trial_idx];
                    var response_side = KEYCODES_SIDES[event.code];
                    var trial_side = STIMULUS_LEVEL_SIDES[trial[2]][trial[3]];
                    var correct = response_side === trial_side;

                    console.log('key captured: ' + event.code + ' (' + response_side + ') after ' + reaction_ms +
                        'ms; correct: ' + correct);

                    trial_ids.push(trial[0]);
                    response_keys.push(event.code);
                    response_times.push(reaction_ms);
                    response_correct.push(Number(correct));

                    if (correct) {
                        prepareNextTrial();
                    } else {
                        expect_keycode = SIDES_KEYCODES[trial_side];
                        $('#feedback').show();
                    }
                }
            }
        }
    }
});


function prepareNextTrial() {
    $('#feedback').hide();
    $('#stimulus').hide();

    cur_trial_idx++;

    if (cur_trial_idx >= n_trials) {  // end of trials
        $('#submit_data_notice').show();

        $('#input_trial_ids').val(trial_ids.join());
        $('#input_responses').val(response_keys.join());
        $('#input_response_times').val(response_times.join());
        $('#input_response_correct').val(response_correct.join());

        $('.otree-btn-next').click();
    } else {
        advanceProgressBar();

        setTimeout(function () {
            nextTrial();
        }, {{ Constants.next_trial_delay_ms }});
    }
}

function nextTrial() {
    var trial = trials[cur_trial_idx];
    $('#stimulus').prop('class', 'class ' + trial[2]).text(trial[1]).show();
    input_start_time = new Date().getTime();
}

function advanceProgressBar() {
    var progress_pct = (cur_trial_idx+1) / n_trials * 100;
    $('#progress_bar').css('width', progress_pct + '%');
}

{% if debug %}
    function randomInt(min, maxExclusive) {
        return min + Math.floor(Math.random() * maxExclusive);
    }

    function randomChoice(arr) {
        var idx = randomInt(0, arr.length);
        return arr[idx];
    }

    function debugRunBlock() {
        $('#submit_data_notice').show();

        trial_ids = [];
        response_keys = [];
        response_times = [];
        response_correct = [];
        var i;
        for (i = 0; i < n_trials; i++) {
            trial_ids.push(trials[i][0]);
            response_keys.push(randomChoice(['KeyI', 'KeyE']));
            response_times.push(randomInt(100, 1100));
            response_correct.push(randomChoice([0, 1]));
        }

        $('#input_trial_ids').val(trial_ids.join());
        $('#input_responses').val(response_keys.join());
        $('#input_response_times').val(response_times.join());
        $('#input_response_correct').val(response_correct.join());

        $('.otree-btn-next').click();
    }
{% endif %}

</script>
{% endblock %}

{# Implicit Association Test IAT experiment #}
{# November 2019, Markus Konrad <markus.konrad@wzb.eu> #}

{% block content %}

{# submit data is stored in these hidden inputs as comma separated values strings #}
<input id="input_trial_ids" name="trial_ids" type="hidden" value="">
<input id="input_responses" name="responses" type="hidden" value="">
<input id="input_response_correct" name="responses_correct" type="hidden" value="">
<input id="input_response_times" name="response_times" type="hidden" value="">

<div id="progress_container">
    Avance:
    <div id="progress_bar_container">
        <div id="progress_bar"></div>
    </div>
    <div style="clear: right"></div>
</div>

<div id="key_instructions">
    <table class="table_decision">
        <tr>
            
        {% for side in instructions %}
            <td class="{{ side.side }}">
                {% if side.side == "center" %}
                    <div id="stimulus" class="class names"></div>
                {% else %}
                    <p class="press_key">Presione <span class="key">{{ side.key }}</span> para</p>
                    {% for class in side.classes %}
                    <img src="{% static 'images/' %}{{ class.image }}" class="class_image">
                    <p class="class {{ class.class }}">{{ class.label }}</p>
                        {% if side.classes|length > 1 and not forloop.last %}
                            
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    </table>

</div>

<div style="clear:left"></div>

<div id="submit_data_notice">Sus respuestas están siendo enviadas...</div>

<div id="feedback">
    <p class="red_x">X</p>
    <p class="hint">Presione otra tecla para continuar</p>
</div>

<div id="start_instructions">
    <h3><b>PARTE {{ player.round_number }} DE {{ Constants.num_rounds }}</b></h3>


    {% if player.round_number == 1 %}
        <p>
            Ponga sus dedos INDICES en las teclas <span class="key">{{ Constants.capture_keycodes.left.1 }}</span>
            y <span class="key">{{ Constants.capture_keycodes.right.1 }}</span> para que puede responder rápidamente.
        </p>
    {% endif %}

    {% if block_def.notice %}
        <p style="font-weight: bold">{{ block_def.notice }}</p>
    {% endif %}

    <p class="keys">
        {% for side in instructions %}
            {% if side.side != "center" %}
                Presione <span class="key">{{ side.key }}</span> para palabras que pertenecen 
                {% if side.classes|length == 1  %}al grupo{% else %}a los grupos{% endif %}
            <b>
                {% for class in side.classes %}
                    <span class="class {{ class.class }}">{{ class.label }}</span>
                    {% if side.classes|length > 1 and not forloop.last %}
                        o
                    {% endif %}
                {% endfor %}
            </b>

                {% if not forloop.last %}<br>{% endif %}
            {% endif %}
        {% endfor %}
    </p>

    {% if player.round_number == 1 %}
        <p>Le iremos mostrando una palabra a la vez.</p>
    {% endif %}

    <p>
        Cuando presione la letra INCORRECTA, una <span class="red_x">X</span> roja aparecerá. Presione la otra tecla para continuar.<br>

        Trate de clasificar las palabras <span style="text-decoration: underline">tan rápido como pueda</span>.
    </p>

    <p style="text-align: center">
        Presione la <span class="key">BARRA ESPACIADORA</span>, para comenzar con la parte {{ player.round_number }}.
    </p>

    {% next_button %}
</div>

{% endblock %}
