{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instrucciones Generales
{% endblock %}

{% block content %}
<p>En esta parte participará en una actividad y luego responderá algunas preguntas sobre sus aspiraciones.</p>

<h5>Código de participante</h5>

<p>Usted previamente recibió un código de participante, esa es su identificación durante toda la actividad. 
    Nunca le pediremos su nombre ni su número de documento de identidad. 
    Por favor no pierda la hoja con su código de participante. </p>

    <p><b>
        {% formfields %}
    </b></p>

<p>
    La actividad es individual. Le pedimos que por favor no hable ni trate de mirar las respuestas de los demás participantes. 
    Si hay algo que usted no entiende, por favor levante la mano, uno de los monitores se acercará y tratará de ayudarlo de manera individual.
</p>    
        
    {% next_button %}

{% endblock %}
